.experience {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
}

.experience li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    padding: 0;
}

.experience .title {
    margin-bottom: .125rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.experience .date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience .date::before {
    content:'';
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('../images/icons/calendar.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .5rem;
}

.experience li p{
    margin: .25rem;
}

