@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

    background-color: black;
    color: white;
}

.main {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #FFF;
    border-radius: 1rem;
}

