.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    margin: 0;
    padding: 1rem 1rem 1rem 2rem;;
    list-style: none;
}

.languages li {
    margin: 0 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
}

.languages li::before{
    content:'';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-image: url('../images/icons/check.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .125rem;
}
