.languages {
 display: flex;
 list-style: none;
 gap: 100px;
 text-align: center;
 justify-content: center;
}
.languages li {
    position: relative;
    cursor: pointer;
}

.languages li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: currentColor; 
    transition: width 0.3s ease; 
}
.languages li:hover::after {
    width: 100%; 
}
