.portifólio {
 flex-wrap: 10px
}

.portifólio {
    position: relative;
    cursor: pointer;
}

.portifólio ::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 0;
    height: 2px;
    background-color: currentColor; 
    transition: width 0.3s ease; 
}

.portifólio :hover::after {
    width: 100%; 
}