.html {
    max-width: 100%;
    width: 100px;
    height: 120px;

    display: inline-flex;
}
.css {
    max-width: 100%;
    width: 100px;
    height: 100px;

    display: inline-flex;
}

.js {
    max-width: 100%;
    width: 100px;
    height: 100px;

    display: inline-flex;
}

.hard {
   display: flex;
    list-style: nome;
    gap: 100px;
    margin-left: 20px;
}

.skills {
    display: flexbox;
}
